.cartContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 10px;
}

.showingConteiner {
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.firstContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.firstShowingConteiner {
    width: 10%;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hederSecondContainer {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixPositionSecondContainer {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.firstFixPositionContainer {
    width: 80%;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondFixPositinoContainer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}