
.shopCardContainer {
    margin-top: 50px;
    width: 250px;
    height: 300px;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    background-color: wheat;
}

.shopCardContainer:hover {
    filter: drop-shadow(10px 7px 10px black);
}

.shopDescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopCardImage {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.shopCardContainer p {
    margin: 0;
}

.showMoreButton {
    width: 80px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: wheat;
    color: black;
}

.shopCardPrice {
    font-weight: bold;
}